@media screen and (max-width: 960px) {
    .headerChar{
        font-weight: bold;
        background-color: rgb(150, 10, 60);
        padding: 1% 0% 1% 3%;
        font-size: 200%
    }
}

@media screen and (min-width: 961px) {
    .headerChar{
        font-weight: bold;
        background-color: rgb(150, 10, 60);
        padding: 1% 0% 1% 3%;
        font-size: 280%
    }
}