.back {
  background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(256,256,256,0.1),rgba(0,0,0,0.1));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.backImg{
  background-image: url(./img/back.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
